<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Angular course - Third Assignment</h3>
      <hr>
      <button class="btn btn-primary" (click)="onBtnCLicked()">Display Details</button>

      <p *ngIf="secret">
        Some random paragraphs
      </p>
      <div
        *ngFor="let click of clicks; let i = index"
        [ngStyle]="{backgroundColor: i > 3 ? 'blue' : 'transparent' }"
        [ngClass]="{textColor: i > 3 }"
      >
        {{ click }}
      </div>
    </div>

  </div>

</div>
